.code_small_page {
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
}

.code_small_page_el1 {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.code_small_page_el2 {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.box_title_code_small_page {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.h1_code_small_page {
    margin: 0;
    padding: 0;
    font-size: 35px;
    margin-bottom: 15px;
    color: #6400E3;
}

.text_code_small_page {
    font-size: 18px;
    font-weight: normal;
    color: #4d4d4d;
}

.info_code_small_page {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    background-color: #6400E3;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    line-height: 1.4;
}

.info_code_small_page_strong {
    font-weight: bold;
    text-decoration: underline;
}

.box_form_small_page {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
}

.h2_box_form_small_page {
    font-size: 20px;
    color: #6400E3;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.form_small_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form_small_page_input {
    width: calc(100% - 20px);
    height: 50px;
    border: solid 1px #6400E3;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.form_small_page_button {
    width: calc(100% - 0px);
    height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    font-size: 18px;
    font-weight: 600;
    background: #6400E3;
    text-decoration: none;
    border: none;
}

.form_small_page_button-again {
    width: calc(100% - 0px);
    height: 40px;
    margin-top: 0px;
    margin-bottom: 25px;
    border-radius: 6px;
    cursor: pointer;
    color: #6400E3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    font-size: 18px;
    font-weight: 600;
    background: white;
    text-decoration: none;
    border: solid 1px #6400E3;
}