.page_section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#small_page_el1 {
    width: 100%;
    height: 100%;
    background-color: #6400E3;
}

#large_page_el1 {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 670px;
}

#large_page_el2 {
    width: 50%;
    height: 100%;
    background-color: #6400E3;
    display: flex;
    flex-direction: column;
    min-height: 670px;
}

@media screen and (max-width: 1200px) and (max-height: 670px) {
    #large_page_el2 {
        height: calc(100% - 65px);
        padding-bottom: 65px;
        background-color: #e30040;
    }
}