.section_large_page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overscroll-behavior: none;
    touch-action: none;
    overflow: hidden;
}

.web_essential_small_page_el1 {
    width: 100%;
    height: 100%;
    background-color: #6400E3;
}

.web_essential_large_page_el1 {
    width: 50%;
    height: 100%;
    background-color: white;
    flex: 3;
    overflow-y: auto; /* Le contenu interne défile */
    overscroll-behavior: none;
}

.web_essential_large_page_el2 {
    width: 50%;
    height: 100%;
    background-color: #6400E3;
    overflow-y: none;
    overscroll-behavior: none;
    position: relative;
}

.title_offer_page {
    background-color: #6400E3;
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;
    border-radius: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.intro_offer_page {
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    color: #535353;
    text-align: center;

}

.offer_paragraph_page {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    line-height: 1.5;
}

.offer_paragraph_page_title {
    font-weight: bold;
    font-size: 28px;
    color: #6400E3;
}

.offer_paragraph_page_text {
    font-weight: bold;
    font-size: 15px;
    color: #535353;
    margin-top: 10px;
}

.span_underline {
    text-decoration: underline;
    color: #6400E3;
  }

.custom_bullet {
    font-weight: bold;
    line-height: 1.5;
}

.message_offer_large_page {
    width: calc(100% - 300px);
    padding: 15px;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    line-height: 1.5;
}