#article_message_large_page {
    width: calc(100% - 60px);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: 800;
    line-height: 1.5;
}