#article_message_large_page {
    width: calc(100% - 300px);
    padding: 15px;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    line-height: 1.5;
}